<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="Test.jspx" id="d1">
            <af:form id="f1">
                <!--<af:region value="#{bindings.MachineHandoverForPmAmcFlow1.regionModel}" id="r1"/>-->
                <!--<af:region value="#{bindings.ActualPmAmcForMachineFlow1.regionModel}" id="r1"/>-->
                <af:region value="#{bindings.MachineAcceptanceAfterPmAmcFlow1.regionModel}" id="r1"/>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>
