<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="Test.jspx" id="d1">
        <af:resource type="javascript">
       function onBlurTxtField(evt){
          var source = evt.getSource(); 
          var custEvent = new AdfCustomEvent(source,"onBlurNotifyServer");
          custEvent.queue(); 
       }  </af:resource>
            <af:form id="f1" usesUpload="true">
                <af:region value="#{bindings.GroupMasterFlow1.regionModel}" id="r1"/>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>
