@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|inputComboboxListOfValues{
             -tr-stretch-search-dialog: true;
           }

.AFBackgroundColor:alias {
    color: #FDFEFF; 
}

.AFBackground2Color:alias {
    color: #C1D8F6; 
}

.AFBackground2BorderColor:alias {
    color: #B5CEEE; 
}

.AFGaugeMetricBorderColor:alias {
    color: #83AADD; 
}

.AFBrandingBarTitle {
    color: Black; 
    font-weight: bold; 
}

.AFBrandingBackgroundColor:alias {
    color: #FDFEFF; 
}

af|statusIndicator::reconnecting-icon {
    content: url("/afr/skyros-v1/reconnecting_light.gif"); 
}

af|statusIndicator::processing-icon {
    content: url("/afr/skyros-v1/busy_light.gif"); 
}

af|statusIndicator::disconnected-icon {
    content: url("/afr/skyros-v1/disconnected_light.gif"); 
}

af|statusIndicator::idle-icon {
    content: url("/afr/skyros-v1/connected_light.png"); 
}

af|statusIndicator::connecting-icon {
    content: url("/afr/skyros-v1/connecting_light.gif"); 
}

af|statusIndicator::connected-icon {
    content: url("/afr/skyros-v1/connected_light.png"); 
}

.AFBrandingBarItem {
    color: Black; 
    font-weight: bold; 
}

af|link, af|goLink, af|commandLink, af|commandImageLink, af|goImageLink, af|messages::component-link, af|calendar::list-day-of-month-link, af|calendar::list-title-link, af|calendar::month-grid-cell-header-day-link, af|calendar::month-overflow-link, af|calendar::week-header-day-link {
    font-weight: normal; 
}

.AFBrandingBarItem af|menu::bar-item-text {
    color: Black; 
    font-weight: bold; 
}

af|inputFile::label {
  font-weight:bold;
}