<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="Logout" id="d1"
                     inlineStyle="background-image:-webkit-linear-gradient(215deg, rgb(189,223,246) 0%, rgb(252,245,236) 79%); background-attachment:fixed; background-repeat:no-repeat;">
            <af:form id="f1">
                <af:panelStretchLayout id="psl1" topHeight="30pt">
                    <f:facet name="start"/>
                    <f:facet name="end"/>
                    <f:facet name="top">
                        <af:panelGroupLayout id="pgl1" layout="scroll" halign="center"
                                             inlineStyle="background-image:-webkit-linear-gradient(0deg, rgb(229,45,39) 0%, rgb(179,18,23) 100%); background-repeat:repeat;">
                            <af:image id="i1"
                                      inlineStyle="width:104px; height:24px; margin-top:6px; padding-top:0px;"
                                      source="BERP_Logo.png"/>
                            <af:spacer width="10" height="10" id="s1" rendered="false"/>
                            <af:outputText value="TERMS Application" id="ot1"
inlineStyle="font-size:x-large; font-weight:bold;" rendered="false"/>
                        </af:panelGroupLayout>
                    </f:facet>
                    <f:facet name="bottom"/>
                    <f:facet name="center">
                        <af:panelGroupLayout id="pgl2" layout="vertical" inlineStyle="font-size:large;" halign="center">
                            <af:spacer width="0" height="150" id="s2"/>
                            <af:panelGroupLayout id="pgl3" layout="scroll">
                                <af:spacer width="450" height="10" id="s3" inlineStyle="font-weight:normal;"
                                           rendered="false"/>
                                <af:outputText value="You have successfully logged out." id="ot2"
                                               inlineStyle="font-size:x-large; font-weight:bold;"/>
                                <af:spacer width="10" height="10" id="s4" inlineStyle="font-size:large;"/>
                                <af:panelGroupLayout id="pgl4">
                                    <af:link id="ot4" inlineStyle="font-size:large;" text="Click Here"
                                             action="globalLogin" destination="/faces/Login"/>
                                    <af:spacer width="5" height="10" id="s6"/>
                                    <af:outputText value="to login again." id="ot3" inlineStyle="font-size:large;"/>
                                </af:panelGroupLayout>
                            </af:panelGroupLayout>
                        </af:panelGroupLayout>
                    </f:facet>
                </af:panelStretchLayout>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>